.summary-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    margin: 0;
    font-size: 16px;
}
.summary-table th,
.summary-table td {
    white-space: nowrap;
    padding: 10px 12px;
    border-bottom: 1px solid var(--summary-table-border-color);
}
.summary-table th:first-child,
.summary-table td:first-child {
    padding-left: 0;
    padding-right: 50px;
}
.summary-table td:first-child {
    font-weight: bold;
    text-align: left;
}
.summary-table td.prevented {
    font-weight: bold;
}
.summary-table th {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--summary-table-row-label);
}
.summary-table .secondary th {
    font-size: 12px;
    color: var(--summary-table-row-label);
    background-color: var(--summary-table-secondary-bg-color);
    border-bottom-color: var(--summary-table-th-border-color);
}

.summary-table th:last-child {
    width: 100%;
}

.underbar-wrapper {
    position: relative;
}
.underbar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
.underbar-bar {
    height: 100%;
    background-color: var(--black);
}
