name: Deploy to GitHub Pages

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install wasm-pack
              run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

            - name: Setup node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22.x"

            # See https://github.com/npm/cli/issues/4828
            - name: Clean install
              run: |
                  rm -rf node_modules package-lock.json
                  npm install

            - name: Build
              run: npm run build

            - name: Setup Pages
              uses: actions/configure-pages@v4

            - name: deploy
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  folder: dist
