.tabs {
    display: flex;
    font-size: 12px;
    background-color: var(--tab-bg);
}
.tabs h2 {
    font-size: inherit;
}
.tab {
    padding: 10px 20px;
    background-color: var(--tab-bg);
    color: var(--tab-color);
    border-top: 1px solid transparent;
}
.tab.active {
    background-color: var(--tab-active-bg);
    color: var(--tab-active-color);
    border-color: var(--purple);
}

.tab-wrapper {
    background-color: var(--main-bg);
    color: var(--main-text);
    flex-grow: 1;

    padding: var(--spacing-3);
    padding-top: var(--spacing-2);
}
.tab-wrapper.dark {
    background-color: var(--black);
    color: var(--text);
}

.mobile-only {
    display: none;
}
@media screen and (max-width: 992px) {
    .tab-wrapper {
        padding: var(--spacing-1);
    }
    .mobile-only {
        display: block;
    }
}
